.cateplay {
    padding-top: 46px;

    .van-nav-bar {
        background-color: #0c0101;
    }

    /deep/ .van-hairline--bottom::after {
        border: none;
    }

    /deep/ .van-nav-bar .van-icon {
        color: #ffffff;
    }

    /deep/ .van-nav-bar__title {
        color: #ffffff;
    }

    .item {
        position: relative;

        img {
            max-width: 100%;
            vertical-align: middle;
            filter: brightness(0.6);
        }

        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            color: white;
            padding: 0 15px;
            width: calc(100% - 30px);

            span {
                &.dur {
                    &::before {
                        margin: 0 10px;
                        content: "/";
                    }
                }
            }

            h3 {
                margin: 0;
                line-height: 2em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}